body{
    margin: 0;
    background: linear-gradient(to left, lightpink, lightblue);
    font-family: 'Courier New', Courier, monospace;
}

.heading{
    color: darkblue;
    font-size: 3rem;
    text-align: center;
}

.info-text{
    color: darkblue;
    font-size: 1.5rem;
    text-align: center;
}

.app{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    padding: 50px;
    justify-content: center;
}

.note{
    padding: 20px;
    resize: none;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 25px;
    height: 150px;
    border: none;
    outline: none;
    background: rgba(255,255,255,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    color: darkblue;
    font-weight: bold;
    cursor: pointer;

}

.note::placeholder{
  color: rgba(0,0,0,.2);
}

.note:hover,.note:focus{
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    transition: all 500ms ease;
}

.btn{
    height: 150px;
    border-radius: 15px;
    font-size: 3rem;
    font-weight: 700;
    background: rgba(255,255,255,.1);
    border: 3px solid;
    border-color: rgba(255,255,255,.3);
    color: rgba(0,0,0,.4);
    cursor: pointer;
}

.btn:hover{
    border-color: rgba(255,255,255,.7);
    color: rgba(0,0,0,.8);
    background: rgba(255,255,255,.6);
    transition: all 400ms ease;

}